* {
  box-sizing: border-box;
}

body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.header {
  min-height: 100vh;
  background:  linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../images/Fone.jpg') no-repeat center top  / cover;
}
.nav-bar{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 57px;
}

.menu-item {
  margin-right: 25px;
}
.menu-link {
  color: white;
  text-decoration: none;
}
.avatar {
width: 35px;
height: 33px;
border-radius: 50%;
margin-left: 11px;

}
.user {
  margin-left: auto;
  color: #fff;
  display: flex;
  align-items: center;

}

.film {
  color: #fff;
  margin-top: 60px;
  display: flex;
  align-items: center;

}

.film-title-small {
  opacity: 0.5;
  font-size: 24px;
  line-height: 150%;
}
.film-title {
  font-size: 36px;
  line-height: 42px;
  margin-top: 11px;
  margin-bottom: 23px;
}

.film-description {
font-size: 16px;
line-height: 150%;
max-width: 560px;
}

.film-trailer {
  margin: auto;
}
.film-details {
  margin-top: 50px;
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center;

}
.clock-icon {
  margin-right: 14px;
}
.rating {
  display: flex;
  align-items: center;
  margin-left: 34px;
}
.icon-rating {
  margin-right: 14px;
}

.rating-current {
font-size: 24px;
line-height: 150%;
}
.session {
margin-top: 62px;
padding-top: 46px;
padding-bottom: 63px;
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.session-label {
  display: block;
  margin-bottom: 20px;
}
.session-date-block {
  display: flex;
}
.session-date-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: background-color 0.2s;
}

.session-month {
  font-size: 16px;
  line-height: 19px;
}

.session-day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.session-week {
  font-size: 19px;
  line-height: 20px;
}
.session-date-item:hover {
  background-color: #FE8E05;
  color: #621402;
}
.select {
background: rgba(255, 255, 255, 0.15);
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 5px;
color: rgb(255, 255, 255);
padding: 18px;
cursor: pointer;
margin-top: 15px;
}

.select-cinema{
  min-width: 470px;
}
.option {
background-color: #621402;
}















