body {
  background-color: #621402;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.sub-header{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding-left: 57px;
}

.menu-item {
  margin-right: 25px;
}

.menu-link {
  color: white;
  text-decoration: none;
}
.avatar {
width: 35px;
height: 33px;
border-radius: 50%;
margin-left: 11px;

}
.user {
  margin-left: auto;
  color: #fff;
  display: flex;
  align-items: center;

}

